<h1>Add new client!</h1>

<form action="/clients/<%= @stylist %>" method ="post">
	<div class="form-group">
		<label for="name">Enter client's name:</label>

		<input for="name" name="name">
	</div>
	<button type="submit" class="btn btn-success">Add</button>

</form>
