<h1>Add a stylist:</h1>

<form action="/stylists" method="post">
	<div class="form-group">
		<label for="name">Stylist's name:</label>
		<input id="name" name="name" type="test">
	</div>

	<button type="submit" class="btn-success">Add New Stylist</button>
</form>
